################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CaasDeploy/bin/Debug/TestTemplate.params.json
/CaaSDeploy.Library/Deployment.cs
