<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="compute" type="DD.CBU.CaasDeploy.Library.Config.ComputeConfigurationSection, DD.CBU.CaasDeploy.Library" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <compute>
    <regions>
      <add key="NA" baseUrl="https://api-na.dimensiondata.com" />
      <add key="EU" baseUrl="https://api-eu.dimensiondata.com" />
      <add key="AU" baseUrl="https://api-au.dimensiondata.com" />
      <add key="AF" baseUrl="https://api-mea.dimensiondata.com" />
      <add key="AP" baseUrl="https://api-ap.dimensiondata.com" />
      <add key="SA" baseUrl="https://api-latam.dimensiondata.com" />
      <add key="CA" baseUrl="https://api-canada.dimensiondata.com" />
      <add key="ID" baseUrl="https://api-indonesia.dimensiondata.com" />
      <add key="IN" baseUrl="https://api-india.dimensiondata.com" />
    </regions>
  </compute>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
