<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="compute" type="CaasDeploy.Library.Config.ComputeConfigurationSection, CaasDeploy.Library" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  
  <compute>
    <regions>
      <add key="NA" baseUrl="https://api-na.dimensiondata.com" />
      <add key="EU" baseUrl="https://api-eu.dimensiondata.com" />
      <add key="AU" baseUrl="https://api-au.dimensiondata.com" />
    </regions>
  </compute>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
